.avatar {
  width: 25px;
  height: 40px;
  object-fit: cover;
}

.home-cards {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 50px;
  display: flex;
  flex-wrap: wrap;
}

article img {
  width: 235px;
  height: 425px;
  object-fit: cover;
}

.avatar-username {
  display: flex;
  align-items: center;
  padding: 10px;
}
.avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}
