/* HEADER */

header {
  margin: 20px auto;
  width: 100%;
  margin: auto;
  height: 120px;
}

header img {
  width: 104px;

  cursor: pointer;
}

.avatar {
  width: 25px;
  height: 40px;
  object-fit: cover;
}

.home-cards {
  width: 100%;
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr; */
  gap: 17px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

article img {
  width: 235px;
  height: 360px;
  object-fit: cover;
}

.avatar-username {
  display: flex;
  align-items: center;
  padding: 10px;
}
.avatar {
  border-radius: 50%;
  width: 25px;
  height: 25px;
  margin-right: 10px;
}

.text-input {
  display: flex;
  flex-direction: column;
}

.text-input-section {
  display: flex;
  flex-direction: column;
}

.text-input {
  width: 150px;
}
